<%- include("../includes/head" , {pageTitle : "Login"}) %>
<link rel="stylesheet" href="/styles/login-page.css" />
</head>
<body>
    <div class="container">
        <div class="form-div">
          <div class="form-container form-container-login">
            <h1>Login To Your Account</h1>
            <div class="form">
              <form action="/login" method="POST">
                <% if (inputData.errorMessage) { %>
                    <section class="alert">
                       <h2>Invalid input</h2>
                       <p><%= inputData.errorMessage %></p>
                    </section>
                <% } %>
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div class="email-div">
                  <label for="email"
                    >Email Address<span style="color: red">*</span></label
                  >
                  <div class="input-grp">
                    <i class="fa-solid fa-envelope email-icon icon"></i
                    ><input
                      type="email"
                      name="email"
                      id="email"
                      value="<%= inputData.email %>"
                      placeholder="your@example.com"
                      required
                    />
                  </div>
                </div>
                <div class="password-div">
                  <label for="password"
                    >Password<span style="color: red">*</span></label
                  >
                  <div class="input-grp">
                    <i class="fa-solid fa-lock password-icon icon"></i>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      value="<%= inputData.password %>"
                      placeholder="Password"
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn">Login</button>
              </form>
          </div>
          <div class="create-account extra-link"><p><a href="/signup" class="create-account-link link">Create a new account</a></p></div>
          </div>
        </div>
        <div class="img">
          <img src="/background2.jpg" alt="" srcset="" class="bg-image" />
        </div>
      </div>
</body>
</html>