<%- include("../includes/head" , {pageTitle : "Signup"}) %>
<link rel="stylesheet" href="/styles/login-page.css">
</head>
<body>
         <div class="container">
            <div class="form-div">
              <div class="form-container form-container-signup">
                <h1>Create a new account</h1>
                <div class="form-signup form">
                  <form action="/signup" method="POST">
                      <% if (inputData.errorMessage) { %>
                          <section class="alert">
                             <h2>Invalid input</h2>
                             <p><%= inputData.errorMessage %></p>
                          </section>
                      <% } %>
                      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                      <div class="name-div">
                          <label for="name"
                            >Full Name<span style="color: red">*</span></label
                          >
                          <div class="input-grp">
                            <i class="fa-solid fa-user  icon"></i
                            ><input
                              type="text"
                              name="name"
                              id="name"
                              placeholder="John Doe"
                              value="<%= inputData.name %>"
                              required
                            />
                          </div>
                        </div>
                    <div class="email-div">
                      <label for="email"
                        >Email Address<span style="color: red">*</span></label
                      >
                      <div class="input-grp">
                        <i class="fa-solid fa-envelope email-icon icon"></i
                        ><input
                          type="email"
                          name="email"
                          id="email"
                          placeholder="your@example.com"
                          value="<%= inputData.email %>"
                          required
                        />
                      </div>
                    </div>
                    <div class="password-div">
                      <label for="password"
                        >Password<span style="color: red">*</span></label
                      >
                      <div class="input-grp">
                        <i class="fa-solid fa-lock password-icon icon"></i>
                        <input
                          type="password"
                          name="password"
                          value="<%= inputData.password %>"
                          id="password"
                          placeholder="Enter Your Password"
                          minlength="6"
                          required
                        />
                      </div>
                      
                    </div>
                    <div class="confirm-password-div">
                      <label for="confirm-password"
                        >Confirm Password<span style="color: red">*</span></label
                      >
                      <div class="input-grp">
                        <i class="fa-solid fa-lock password-icon icon"></i>
                        <input
                          type="password"
                          name="confirm"
                          value="<%= inputData.confirm %>"
                          id="confirm-password"
                          placeholder="Enter Your Password Again"
                          minlength="6"
                          required
                        />
                      </div>
                    </div>
                    <div class="phone-div">
                      <label for="phone"
                        >Mobile Number<span style="color: red">*</span></label
                      >
                      <div class="input-grp">
                        <i class="fa-solid fa-phone password-icon icon"></i>
                        <input
                          type="text"
                          name="phone" value="<%= inputData.phone %>"
                          id="phone"
                          placeholder="Enter your number with country code"
                          required
                          
                        />
                      </div>
                    </div>
                    <div class="account-div">
                      <label for="account"
                        >Account Number<span style="color: red">*</span></label
                      >
                      <div class="input-grp">
                        <i class="fa-solid fa-piggy-bank password-icon icon"></i>
                        <input
                          type="text"
                          name="account" value="<%= inputData.account %>" min="000000000000" max="999999999999"
                          id="account"
                          placeholder="Enter your account number"
                          required
                          
                        />
                      </div>
                    </div>
                    <div class="address-div">
                        <label for="address"
                          >Address<span style="color: red">*</span></label
                        >
                        <div class="input-grp">
                          <textarea
                          rows="5"
                          name="address"
                          id="address"
                          placeholder= "Enter Your Address"
                          required
                          class="address-text-area"
                        ><%= inputData.address %></textarea>
                        </div>
                      </div>
              
                    <button type="submit" class="btn">Create Account</button>
                  </form>
              </div>
              <div class="login-link extra-link"><p><a href="/login" class="login-link link">Login Instead</a></p></div>
              </div>
            </div>
            <div class="img">
              <img src="/background2.jpg" alt="" srcset="" class="bg-image" />
            </div>
        </div>
    
</body>
</html>