<%- include("../includes/head" ,  {pageTitle : "Home"}) %>
<link rel="stylesheet" href="/styles/details.css">
<link rel="stylesheet" href="/styles/sidebar.css" />
</head>
<!-- Sidebar extra functioning starts -->
<script>
    function toggleSidebar() {
        const detailContainer = document.getElementById("user-details");
        detailContainer.classList.toggle("sidebar-open");
    }
</script>
<!-- Sidebar extra functioning ends -->
<body>
    <%- include("../includes/sidebar") %>
    <main class="main-container" id="user-details">
        <div class="detail-heading">
            <h1><b>User Details</b></h1>
        </div>
    
    
        <div class="user-detail-container">
            <section class="image-section">
                <div class="image-div">
                    <img src="/dummy.jpg" alt="user image" srcset="" />
                </div>
            </section>

            <section class="detail-section">
                <div class="div1 detail-div">
                    <div class="name-div">
                        <p class="name-heading heading"><b>Name:</b></p>
                        <p class="name detail"><%= user.fullname %></p>
                    </div>
                    <div class="number-div">
                        <p class="number-heading heading"><b>Mobile Number:</b></p>
                        <p class="number detail"><%= user.phone %></p>
                    </div>
                </div>
                <div class="div2 detail-div">
                    <div class="address-div">
                        <p class="address-heading heading"><b>Address:</b></p>
                        <p class="address detail"><%= user.address %></p>
                    </div>
                    <div class="account-number-div">
                        <p class="account-number-heading heading">
                            <b>Account Number:</b>
                        </p>
                        <p class="account-number detail"><%= user.accountNumber %></p>
                    </div>
                </div>
                <div class="extra-buttons">
                    <!-- <div class="view-history-btn util-btn">
                        <a href="#">View History</a>
                    </div> -->
                    <% if(tableArray.length>0) { %>
                    <div class="view-transactions-btn util-btn">
                        <a href="/all-transactions-history">View All Transactions</a>
                    </div>
                    <% } %>
                </div>
            </section>
            
        </div>
        <% if(tableArray.length>0) { %>
        <section class="transactions-section">
            <h1 class="transactions-section-heading">Your Last <%= Math.min(5,tableArray.length) %> Transaction</h1>
            <div class="table-div">
                <table class="detail-table">
                    <tr>
                        <th>Sr.No.</th>
                        <th>Date</th>
                        <th>Transaction ID</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Merchant</th>
                    </tr>
                    <% for(let i=1;i<=Math.min(5,tableArray.length);i++){ %>
                        <tr>
                            <td><%= i %></td>
                            <td><%= tableArray[i-1]?.date %></td>
                            <td><%= tableArray[i-1]?.transactionID %></td>
                            <td><%= tableArray[i-1]?.transaction_type %></td>
                            <td><%= tableArray[i-1]?.amount %></td>
                            <td><%= tableArray[i-1]?.merchant %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </section>
        <% } %>
    </main>
</body>
</html>