<%- include("../includes/head" ,  {pageTitle : "RJ Police"}) %>
<link rel="stylesheet" href="/styles/nlp-msg.css">
<link rel="stylesheet" href="styles/sidebar.css" />
</head>
<!-- Sidebar extra functioning starts -->
<script>
    function toggleSidebar() {
        const detailContainer = document.getElementById("user-details");
        detailContainer.classList.toggle("sidebar-open");
    }
</script>
<!-- Sidebar extra functioning ends -->
<body>
    <%- include("../includes/sidebar") %>
    <main class="main-container" id="main-container-id">
        <div class="main-heading">
            <h3><b>Fraud Message Detector</b></h3>
        </div>
        <div class="input-div">
            <form action="/detect-fraud-sms" method="POST">
             <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div class="message-heading-div">
                    <input type="text" name="subject" id="message-heading" class="message" placeholder="Enter Your Message Subject" value="<%= prediction.subject %>">
                </div>
                <div class="textarea-div">
                    <textarea name="sms" id="sms" cols="30" rows="10" placeholder="Enter Your Message"
                        autocomplete="off" required><%= prediction.message %></textarea>
                </div>
                <div class="predict-button">
                    <button type="submit" class="predict-btn">Predict</button>
                </div>
                <div class="message">
                <% if (prediction.num===101) { %>
                    <% if(prediction.errorMessage==="Entered message is not a spam or fraud") { %> 
                    <section class="success">
                       <h2>Result</h2>
                       <p><%= prediction.errorMessage %></p>
                    </div>
                    </section>
                    <% }else { %>
                        <section class="alert">
                            <h2>Result</h2>
                            <p><%= prediction.errorMessage %></p>
                         </section>
                    <% } %>
                <% } %>
            </form>
        </div>
    </main>
</body>
</html>