<%- include("../includes/head" , {pageTitle : "RJ Police"}) %>

    <link rel="stylesheet" href="/styles/transactions.css" />
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/details.css" />

    <!-- Sidebar extra functioning starts -->
    <script>
      function toggleSidebar() {
        const detailContainer = document.getElementById("main-container-id");
        detailContainer.classList.toggle("sidebar-open");
      }
    </script>
    <!-- Sidebar extra functioning ends -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <%- include("../includes/sidebar") %>

    <main class="main-container" id="main-container-id">
      <div class="main-heading">
        <h2>Transactions</h2>
      </div>
      <!-- <div class="date-form-container">
        <form action="/show-charts" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <div class="date-input">
            <div class="from-input">
              <label for="from">From: </label
              ><input type="date" name="from" id="from" />
            </div>
            <div class="to-input">
              <label for="to">To: </label
              ><input type="date" name="to" id="to" />
            </div>
            <div class="search-btn-div">
              <button type="submit" class="trxn-btn">Search</button>
              <button type="reset" class="trxn-btn reset-btn">Reset</button>
            </div>
          </div>
        </form>
      </div> -->
      <div class="chartjs-div">
        <div class="line-chart-div">
          <canvas id="lineChart" class="line-chart"></canvas>
        </div>
        <div class="pie-chart-div">
          <canvas id="pieChart" class="line-chart"></canvas>
        </div>
      </div>

      <% if(tableArray.length>0) { %>
      <section class="transactions-section">
        <h1 class="transactions-section-heading">
          Your Last <%= tableArray.length %> Transaction
        </h1>
        <div class="table-div">
          <table class="detail-table">
            <tr>
              <th>Sr.No.</th>
              <th>Date</th>
              <th>Transaction ID</th>
              <th>Transaction Type</th>
              <th>Amount</th>
              <th>Merchant</th>
            </tr>
            <% for(let i=1;i<=tableArray.length;i++){ %>
            <tr>
              <td><%= i %></td>
              <td><%= tableArray[i-1]?.date %></td>
              <td><%= tableArray[i-1]?.transactionID %></td>
              <td><%= tableArray[i-1]?.transaction_type %></td>
              <td><%= tableArray[i-1]?.amount %></td>
              <td><%= tableArray[i-1]?.merchant %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </section>
      <% } %>
    </main>
  </body>
  <script>
        // Chartjs script starts

    const lineChart = document.getElementById("lineChart");
    const pieChart = document.getElementById("pieChart");

    const lineChartDataXX=  <%- JSON.stringify(lineChartData) %>
    const pieChartDataXX =  <%- JSON.stringify(pieChartData) %>

    const newLineChart = new Chart(lineChart, {
        type: 'line',
        data: lineChartDataXX
    });

    const newPieChart = new Chart(pieChart, {
        type: 'pie',
        data: pieChartDataXX
    })

        // Chartjs script ends

    const today = new Date();
    document.getElementById("to").max = today.toISOString().slice(0, 7) + "-" + today.getDate();

    const yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    const formattedYesterday = yesterday.toISOString().slice(0, 10);
    document.getElementById("from").max = formattedYesterday;
  </script>
</html>
